/* Style reset */

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p { 
  margin: 0;
}
html {
  box-sizing: border-box;
}
*, 
*::after, 
*::before {
  box-sizing: inherit;
}
img { 
  display:block; 
  max-width: 100%; 
  height: auto;
}
address { 
  font-style: normal; 
}
.link {
  text-decoration: none; 
  color:inherit; 
}
.ul {
  list-style: none; 
  padding: 0; 
  margin: 0;
}

/* Style reset */

body {
    background-color: #ffffff;
    color: #434455;
    font-family: "Roboto", sans-serif;
  }

  .container {
    width: 1158px;
    align-items: center;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

.page-header {
  border-bottom: 1px solid #E7E9FC
}

.header-container {
  display: flex;
  width: 1440px;
  height: 72px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin: 0 auto; 
  padding: 0 15px; 
}

.header-list {
 display: flex;
 gap: 40px;
}

.header-item {
  margin-left: 156px;
  margin-top: 25.5px;
  margin-bottom: 25.5px;
  margin-right: 76px;  
  padding: 24px 0;
}

.header-item-address {
  display: flex;
  gap: 40px; 
}

  .logo-link {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px; 
  }
  .header-logo {
    color: #2e2f42;
    display: inline;
  }
  .link-nav,
  .address-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .link-nav:hover,
  .link-nav:focus,
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
  .header-address {
    font-style: normal;
    display: flex;
    align-items: center;
    column-gap: 40px;
  }
  .address-link {
    color: #434455;
  }
  .section-order {
    background-color: #2e2f42;
    color: #fff;
    padding: 188px 0;
  }

.about-container {
display: block;
justify-content: space-between;
width: 1440px;
height: 600px;
top: 72px;
gap: 0px;
opacity: 0px;
}

  .order-button {
    background-color: #4d5ae5;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    line-height: 24px;
    letter-spacing: 0.04em;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    box-shadow: 0px 4px 4px 0px #00000026;
    display: block;
    margin-left: 636px;
    margin-right: 635px;
    margin-top: 48px;
    margin-bottom: 188px;
    display: block;
    min-width: 169px;
    height: 56px; 
    border: none;
  }

  .section-order-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-left: 472px;
    margin-right: 472px;
    margin-top: 180px;
    margin-bottom: 48px;
    max-width: 496px;
  }

  .order-button:hover,
  .order-button:focus {
    background-color: #404bbf;
  }
  .company-container {
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
    margin-left: 156px;
    margin-bottom: 120px;
    margin-right: 156px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
  }

  
  .company-section-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    padding-bottom: 8px;
    display: block;
    align-items: center;
    margin-left: 639px;
    margin-right: 639px;
    margin-top: 120px;
    width: 162px;
    height: 40px;
    top: 1136px;
    left: 639px;
    gap: 0px;
    opacity: 0px;
  }

  .list-company {
    background-color: #ffffff;
    width: calc((100% - 48px) / 3);
    display: flex;
    gap: 24px; 
  }


  .list-title-comp {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    width: 264px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    display: block;
    align-items: center;
    width: calc((100% - 72px) / 4);
    margin-bottom: 8px;
  }

  .list-info-comp {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    width: 264px;
    height: 72px;
    gap: 0px;
    opacity: 0px;
    display: block;
    align-items: center;
 }

  .section-our-team {
    background-color: #f4f4fd;
    line-height: 1.11;
  }

.team-container {
display: block;
align-items: center;
justify-content: space-between;
flex-basis: 50%;
flex-shrink: 0;
display: block;
column-gap: 24px;
}

  .our-team-section-title {
    text-align: center;
    margin-bottom: 72px;     
  }

  .list-team {
    display: flex;
    gap: 24px;
  }

  .list-title-team {
    width: calc((100% - 72px) / 4); 
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    margin-bottom: 8px;
  }

  .list-info-team {
    text-align: center;

  }

  .employee-container {
    padding: 32px 0;
  }
  

  .portofolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portofolio-container {
    justify-content: space-between;
    display:block;
    align-items: center;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .portfolio-section-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    padding-bottom: 8px;
    display: block;
    align-items: center;
    margin-left: 611px;
    margin-right: 611px;
    margin-top: 120px;
    width: 162px;
    height: 40px;
    top: 1136px;
    left: 639px;
    gap: 0px;
    opacity: 0px;
  }

  .portofolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portofolio-element {
    width: calc((100% - 48px) / 3);
  }

  .item-info {
    padding: 32px 16px;
    border-top: none;
    margin-bottom: 8px;
    border: 1px solid #e7e9fc; 
  }

  .portofolio-images-container {
  flex-basis: 50%;
  flex-shrink: o;
  display: block;
  column-gap: 24px;
  }
  
  .footer {
    background-color:#2e2f42;
    padding: 100px 0; 
    display: inline-block;
    margin-bottom: 16px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio-footer {
    color: #f4f4fd;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    display: inline-block;
}

 .footer-paragraph {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
color:#F4F4FD;
 }

